{% extends 'layout.html.twig' %}

{% block title %}Nuevo Modelo 3D - {{ parent() }}{% endblock %}

{% block contenido %}
    <h1 class="text-xl my-4 font-bold">Nuevo Modelo 3D</h1>

    {{ include('modelo3d/_form.html.twig') }}

    <a href="{{ path('app_modelo3d_index') }}" class="text-blue-600 mr-2 block mb-4"><span class="fa-solid fa-arrow-left"></span> Volver</a>
{% endblock %}
