{% extends 'layout.html.twig' %}

{% block title %}Nuevo Audio - {{ parent() }}{% endblock %}

{% block contenido %}
    <h1 class="text-xl my-4 font-bold">Nuevo Audio</h1>

    {{ include('audio/_form.html.twig') }}

    <a href="{{ path('app_audio_index') }}" class="text-blue-600 mr-2"><span class="fa-solid fa-arrow-left"></span> Volver</a>
{% endblock %}
