<form class="inline" method="post" action="{{ path('app_tier_delete', {'id': tier.id}) }}" onsubmit="return confirm('¿Seguro que quieres eliminar el tier {{ tier.nombre }}? Esta acción no se puede deshacer...');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tier.id) }}">
    <button class="text-red-400 hover:underline"><span class="fa-solid fa-trash-can"></span> Eliminar</button>
</form>
