{% extends 'layout.html.twig' %}

{% block title %}Nuevo Plan - {{ parent() }}{% endblock %}

{% block contenido %}
    <h1 class="text-xl my-4 font-bold">Nuevo Plan</h1>

    {{ include('tier/_form.html.twig') }}

<a href="{{ path('app_tier_index') }}" class="text-blue-600"><span class="fa-solid fa-arrow-left"></span> Volver</a>{% endblock %}
