{% extends 'layout.html.twig' %}

{% block title %}Video index{% endblock %}

{% block contenido %}
    <h1 class="text-xl font-bold mb-6 mt-3">Listado de vídeos</h1>

    <div class="flex gap-2">
        {% for video in videos %}
            <a href="{{ path('app_video_show', {'id': video.id}) }}">
                <div class="relative w-64 aspect-video rounded-lg overflow-hidden flex bg-black">
                    <video class="w-full">
                        <source src="{{ vich_uploader_asset(video) }}">
                    </video>
                    <div class="flex pl-2 items-end opacity-0 hover:opacity-100 transition-opacity duration-300 hover:backdrop-blur-sm hover:bg-black/40 absolute w-full h-full py-2.5 bottom-0 inset-x-0 text-white text-xs leading-4">
                        <div>
                            <h2 class="ml-3 text-sm font-semibold text-white">{{ video.recurso }}</h2>
                            <h3 class="ml-3 text-xs font-medium text-white">{{ video.recurso.propietario }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        {% else %}
            <h2>No hay vídeos que mostrar</h2>
        {% endfor %}
    </div>
{% endblock %}
