{% extends 'layout.html.twig' %}

{% block title %}Nuevo Recurso - {{ parent() }}{% endblock %}

{% block contenido %}
    <h1 class="text-xl my-4 font-bold">Creando un nuevo recurso</h1>

    {{ include('recurso/_form.html.twig') }}

    <a href="{{ path('app_recurso_index') }}" class="text-blue-600 mb-4"><span class="fa-solid fa-arrow-left"></span> Volver al listado de recursos</a>
{% endblock %}
