{% extends 'layout.html.twig' %}

{% block title %}Nuevo Recurso - {{ parent() }}{% endblock %}

{% block contenido %}
    <h1 class="text-xl my-4 font-bold">Creando un nuevo recurso</h1>

    {{ include('recurso/_form.html.twig') }}

<a href="{{ path('app_material_index') }}" class="text-blue-600"><span class="fa-solid fa-arrow-left"></span> Volver</a>{% endblock %}
ac